/.git/
/.github/
/.bundle/
/.env*
/config/master.key
/config/credentials/*.key

/log/*
/tmp/*
/storage/*

/node_modules/
/app/assets/builds/*
/public/assets/

/.devcontainer/
/.dockerignore
/Dockerfile*
