// Specific CSS for your home-page
.container-homepage {
  display: flex;
	align-items: center;
	justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}
#landingContainer {
  background-color: #38B6FF;
  height: 100px;
}
