<div class="banner-activities" style="background-image:url(https://res.cloudinary.com/dvpavvw1u/image/upload/v1632905004/banner2_b1wiuz.png);">
  <h1>ENJOY THE TIME SPENT TOGETHER. <br> EVEN WHEN YOU ARE NOT TOGETHER! </h1>
</div>

<div class="header-activity">

</div>

<div class="friends-list">
  <% @friends.each do |friend| %>
    <div class="friend-card">
      <p><%= friend.email %></p>
      <div class="push"></div>
    </div>
  <% end %>

</div>
<div class="push"></div>
