<div class="container-cards">
  <% @events.each do |event| %>
  <div class="card__container">
    <div class="card">
      <div class="card__content">
          <h2><%= event.name %></h2> <br>
          <h6><%= event.description %></h6><br>
          <%= link_to 'Show', event %>
      </div>
    </div>
  </div>
  <% end %>
</div>
