<div class="banner-friends" style="background-image:url(https://res.cloudinary.com/dvpavvw1u/image/upload/v1633041849/symbol-scatter-haikei_5_ofde6k.png);">
  <h1>YOUR BUDDIES ARE HERE! </h1>
</div>

<div class="header-activity">

</div>

<div class="friends-list">
  <% @friends.each do |friend| %>
    <div class="friend-card">
      <p><%= friend.email %></p>
      <div class="push"></div>
    </div>
  <% end %>

</div>
<div class="push"></div>
