<div class="banner-events" style="background-image:url(https://res.cloudinary.com/dvpavvw1u/image/upload/v1633029501/blob-scene-haikei_2_fkcf9o.png);">
  <h1>WE HAVE SO MUCH CATCHING.APP TO DO!</h1>
</div>

<div class="header-activity">

</div>

<div class="container-activities">
  <% @events.each do |event| %>
    <div class="card text-white card-has-bg click-col" style="background-image:url('https://res.cloudinary.com/dvpavvw1u/image/upload/v1633027044/sigmund-eTgMFFzroGc-unsplash_1_jmroab-c_scale_h_900_w_600_uma1d2.jpg');">
      <img class="card-img d-none" src="https://source.unsplash.com/600x900/?nature,forest">
      <div class="card-img-overlay d-flex flex-column">
        <div class="card-body"> <small class="card-meta mb-2"><%= event.name %></small>
          <h4 class="card-title mt-0 "><%= link_to event.description, event_path(event), :class => "text-white" %></h4>
          <small><i class="far fa-clock"></i> October 20, 2021</small>
        </div>
        <div class="card-footer">
          <div class="media">
            <img class="mr-3 rounded-circle" src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-512.png"
                  alt="Generic placeholder image" style="max-width:50px">
            <div class="media-body">
              <h6 class="my-0 text-white d-block">Tom Bombadil</h6>
              <small>The first moss gatherer</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="push"></div>
