<h1>My Activities</h1>

<div class="container-cards">
  <% @activities.each do |activity| %>
  <div class="card__container">
    <div class="card">
      <div class="card__content">
          <h2><%= activity.name %></h2> <br>
          <h6>Description: <%= activity.description %></h6><br>
          <h6>Duration: <%= activity.duration %></h6><br>
      </div>
    </div>
  </div>
  <% end %>
</div>
<%#= link_to "New Activity", new_activity_path %>
