<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<% @time_slots_array = [] %>

<% @time_slots.each do |slot| %>
  <% @time_slots_array << slot.start_time.iso8601 %>
<% end %>

<input id="begin-date" type="hidden" value="<%= @time_slots.first.start_time.iso8601 %>">
<input id="end-date" type="hidden" value="<%= @time_slots.last.start_time.iso8601 %>">
<input id="received-time-slots" type="hidden" value="<%= @time_slots_array.to_s %>">

<div class="row justify-content-md-center">
  <div class="form-group col-5">
    <label for="timezone-picker-show"></label>
    <select class="form-control" id="timezone-picker-show"></select>
  </div>
</div>

<div id="time-slot-show">
  <div id="time-grid-show"></div>
</div>
