<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raprikablog.files.wordpress.com/2016/09/i-dont-drink-and-smoke-but-i-am-a-party-animal.jpg);">
  <div class="container">
    <h1>Welcome to the best place to find a <strong>party animal!</strong></h1>
    <h2>What's a party animal anyways?</h2>

    <div class='skewed'>
      <h3><em>/ˈpɑː.tiˈænɪməl/</em></h3>
      <h3><strong>noun</strong></h3>
    </div>

    <div class='skewed'>
      <h3>1. One who attends many parties</h3>
    </div>

    <br>
    <p>Best friends getting drunk and taking their pants off. Going streaking at 3 am. Playing beerpong till there's no more beer. Singing all the words to Lil Wayne's songs. Different boys every weekend. Drunk texting and calling.
  </div>

  <div class="banner-logo">
    <%= image_tag "CATCHING.APP.gif" %>
  </div>
</div>
