<div class="banner" >  <%# style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../images/Homepage_background.png);"> %>
  <div class="container-homepage">
    <h2> We have so much <em>CATCHING.APP</em> to do!</h2>

    <a href="#" class="btn btn-lg btn-success">Plan Your Meeting Now</a>


<%#     <div class='skewed'>
      <h3><em>/ˈpɑː.tiˈænɪməl/</em></h3>
      <h3><strong>noun</strong></h3>
    </div> %>

    <div class="banner-logo">
      <%= image_tag "CATCHING.APP.gif" %>
    </div>
  </div>
</div>
