<div id="landingContainer" class="container-fluid">
</div>
<div class="wrapper">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" id="firstSlide" data-interval="10000">
        <img src="https://res.cloudinary.com/dvpavvw1u/image/upload/v1632820160/Carousel1_1_nqi2my.png" class="d-block w-100" alt="You create an event, invite your friends and highlight the times that are good for you. ">
      </div>
      <div class="carousel-item" id="secondSlide" data-interval="10000">
        <img src="https://res.cloudinary.com/dvpavvw1u/image/upload/v1632820241/Carousel2_1_pqzna6.png" class="d-block w-100" alt="You create an event, invite your friends and highlight the times that are good for you. ">
      </div>
      <div class="carousel-item" id="thirdSlide" data-interval="10000">
        <img src="https://res.cloudinary.com/dvpavvw1u/image/upload/v1632820255/Carousel3_1_gmlqc4.png" class="d-block w-100" alt="Organize meetings with friends living in different timezones without hassle.">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="push"></div>
</div>
