.container-activities {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-gap: 50px;
  margin: 0 6%;
}

.header-activity {
  margin: 20px;
  padding: 20px;
  margin-top: 50px;
  margin-left: 30px;
}
