
.banner-activities {
  background-size: cover;
  padding: 20px;

  right: 0;
  left: 0;
  margin-top: -112px;

  width: 100vw;
  height: 400px;
}

.banner-activities h1 {
  margin: 1rem 0;
  margin-top: 60px;
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 3em;
  font-weight: bold;
  font-family: 'Caveat';
  transform: skew(8deg, 358deg);
  padding-left: 85px;
  padding-top: 18px;
}

.banner-events {
  background-size: cover;
  padding: 20px;

  right: 0;
  left: 0;
  margin-top: -112px;

  width: 100vw;
  height: 400px;
}

.banner-events h1 {
  margin: 1rem 0;
  margin-top: 90px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 3em;
  font-weight: bold;
  font-family: 'Caveat';
  transform: skew(8deg, 358deg);
  padding-left: 85px;
  padding-top: 18px;
}

.banner-friends {
  background-size: cover;
  padding: 20px;

  right: 0;
  left: 0;
  margin-top: -112px;

  width: 100vw;
  height: 400px;
}

.banner-friends h1 {
  margin: 1rem 0;
  margin-top: 90px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 3em;
  font-weight: bold;
  font-family: 'Caveat';
  transform: skew(8deg, 358deg);
  padding-left: 85px;
  padding-top: 18px;
}

.banner-logo {
  position: absolute;
  bottom: 7%;
  right: 7%;
}
.banner-logo img {
  height: 30vh;
  border-radius: 50%;
  opacity: 0,3;
}

.banner h1 {
  margin: 10px 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 4em;
  font-weight: bolder;
}

.banner h2 {
  margin: 1rem 0;
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 2em;
  font-weight: bold;
}

.banner h3 {
  display: inline-block;
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  font-size: 1.5em;
  width: fit-content;
  padding: 0.1em 0.4em;
  background-color: bisque;
}

.skewed {
  transform: skew(8deg, 358deg);
}

.banner p {
  margin-top: 20px;
  font-size: 1.4em;
  color: white;
  opacity: .8;
  width: 30vw;
}
