.form-actions .btn-primary {
  border-radius: 10px;
  padding: 15px 20px;
  font-weight: bold;
}
.btn-event {
  color:#061219;
  background-color: transparent;
  border: 2px solid #061219;
  border-radius: 20px;
  padding: 5px 10px;
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 600;
  font-size : clamp(14px, 2vw, 20px);
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
}
.btn-event:hover {
  border-color: white;
  border-style: solid 1px;
  color: white;
  font-weight: 100;
  background-color:transparent;
  text-decoration: none;
  transform: scale(1.1);
}

.btn-meeting {
  border-radius: 15px;
  padding: 10px 20px;
  border: 2px solid #00FA9A; //bunu kaldirinca siyah gradient border oluyor.
  width: 100%;
  background: rgb(185, 139, 255);
  background: radial-gradient(
    circle,
    rgba(0, 235, 156, 1) 0%,
    rgb(185, 139, 255) 100%
  );

  &:hover {
    animation: pulse 1s;
  }
}
