/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"); */

$dashboardTabPrimaryColor: #5DB6F9;
$dashboardTabSecondaryColor: #e6eef9;

.tabs-container {
  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }
}

.tabs-container {

/* 	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0; */
  position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
  flex-direction: column;
  margin-top: 3vh;
  margin-bottom: 0;
}

.tabs-container {
  .tabs {
    display: flex;
    top: 263px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 1px 0 rgba($dashboardTabPrimaryColor, 0.15), 0 6px 12px 0 rgba($dashboardTabPrimaryColor, 0.15);
    padding: 0.75rem;
    border-radius: 99px; // just a high number to create pill effect
    * {
      z-index: 2;
    }
  }

  input[type="radio"] {
    display: none;
  }
  input[type="radio"] {
    &:checked {
      & + label {
        color: $dashboardTabPrimaryColor;
        & > .notification {
          background-color: $dashboardTabPrimaryColor;
          color: #fff;
        }
      }
    }
  }

  input[id="radio-1"] {
    &:checked {
      & ~ .glider {
        transform: translateX(0);
      }
    }
  }

  input[id="radio-2"] {
    &:checked {
      & ~ .glider {
        transform: translateX(100%);
      }
    }
  }

  input[id="radio-3"] {
    &:checked {
      & ~ .glider {
        transform: translateX(200%);
      }
    }
  }
  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    width: 200px; // tableri uzatir 600px'e ciktiginda
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 99px; // just a high number to create pill effect
    cursor: pointer;
    //background-color: purple;
    transition: color 0.15s ease-in;
    color:#B2B2C9;
  }

  .notification {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    margin-left: 0.75rem;
    border-radius: 50%;
    background-color: $dashboardTabSecondaryColor;
    transition: 0.15s ease-in;
  }

  .glider {
    position: absolute;
    display: flex;
    height: 54px;
    width: 200px;
    background-color: $dashboardTabSecondaryColor;
    z-index: 1;
    border-radius: 99px; // just a high number to create pill effect
    transition: 0.25s ease-out;
  }

}
@media (max-width: 700px) {
	.tabs {
		transform: scale(0.6);
	}

}
