.event-show-grid {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-flow: wrap;
  padding: 5%;
}

.event-new-grid {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-flow: wrap;
  padding: 5%;
}

#event-show-select {
  width: 65%;
}

.event-form-and-card {
  align-self: flex-start;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.event-form-and-toggle {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 20px;
  margin-bottom: -15px;
  margin-top: 6px;
}
