.nextbtn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border-radius: 100%;
  background: #fb6539;
}
.nextbtn i {
  color: white;
}
.event-list {
  align-self: center;
  justify-self: center;

  background-image: url(https://picsum.photos/300/300);
}

.main-container {
margin-top: 40px;
display: grid;
grid-gap: 20px;
grid-template-columns: 400px 400px;
background-color: #A2BFF1;
background-size: 500px;
}

.event-list div{
  width:300px;
  height:300px;
}

#forcecentered {
  position: relative;
  background:#000;
}

#forcecentered .event-list .event-dash-card.active {
  background: -webkit-linear-gradient(45deg, #8a62ff, #0a8dff);
  background: -o-linear-gradient(45deg, #8a62ff, #0a8dff);
  background: -moz-linear-gradient(45deg, #8a62ff, #0a8dff);
  background: linear-gradient(45deg, #8a62ff, #0a8dff);
  color: #fff;
}
.guest-list {
  margin: 0;
  margin-top: 20px; //ben ekledim.
  padding: 0;
  list-style: none;
}
.guest-list li {
  float: left;
  margin-right: 10px;
}
.guest-list li a img {
  width: 32px;
  border-radius: 100%;
}
.event-dash-card .card-footer {
  padding: 10px 8px;
}
.guest-list li:last-child a {
  display: block;
  width: 33px;
  height: 33px;
  border-radius: 100%;
  background: #595b61;
}
.guest-list li:last-child a span {
  text-align: center;
  font-size: 12px;
  color: white;
  font-weight: bold;
  margin-left: 4px;
  vertical-align: bottom;
}
.guest-list li:last-child a:hover {
  text-decoration: none;
}
.event-dash-card {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px) brightness(0.6) contrast(0.6);
  border: none;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.event-dash-card-icon {
  font-size: 14px;
  vertical-align: top;
}

.event-dash-card .card-title .day {
  font-size: 2em;
}
.event-list .event-dash-card.active .card-title .day,.event-list .event-dash-card.active .card-title small {
  color:#fff
}
.event-dash-card .card-title small {
  font-size: 0.75em;
  text-align: left;
  float: right;
  margin-right: 45px;
  margin-top: 15px;
}
.event-dash-card .card-text {
  padding: 0 5px 0 20px;
}
.event-dash-card .card-footer {
  border: none;
  background: transparent;
}
