/* #home-footer {
  margin-top: 1vh;
position: absolute !important;
bottom: 0;
margin-top: auto;
 } */
.display-6 {
color: white;
}
.footer,
.push {
  height: 50px !important;
  
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
