/* #home-footer {
  margin-top: 1vh;
position: absolute !important;
bottom: 0;
margin-top: auto;
 } */
.display-6 {
  color: white;
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}
.footer,
.push {
  height: 50px !important;
}
