
.navbar-lewagon {
  justify-content: space-between;
  z-index: 10;
  position: sticky;
  top: 0;
  font-size: clamp(14px, 2vw, 20px);
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 600;
  background-color: #5DB6F9;
  padding-right: 50px;
  padding-bottom: 0;
  padding-top: 0;
}

.nav-item {
  padding-left: 20px;
}

#navbar-home {
  background-color: transparent !important;
  color: black !important;
}

#navbar-event .btn-event {
  display: none;
}

#navbar-event .nav-link {
  padding-right: 0px;
}

#navbar-dashboard #event-link {
  display: none;
}

/* #navbar-dashboard .btn-event {
  display: none;
} */
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  margin-left: 2vw;
}
.nav-item .avatar {
  width: 60px;
  margin-left: 1vw;
  margin-right: 2vw;

}
