.navbar-lewagon {
  justify-content: space-between;
  z-index: 10;
  font-size: 22px;
  background-color: white;
  position: sticky;
  top: 0;
  font-size : clamp(16px, 2vw, 20px);
}
.navbar-home {
  position: relative !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  margin-left: 1vw;
}
