#time-slots {
  display: grid;
  justify-content: center;
  column-gap: 2px;
  grid-template-columns: repeat(var(--grid-cols), auto);
  grid-template-rows: repeat(var(--grid-rows), auto);

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .grid-item {
    &.hour {
      font-size: 16px;
      line-height: 1.7em;
      margin-top: 3px;
      border: 1px solid #ddd;
      text-align: center;
      border-radius: 2px;
    }

    &.header {
      grid-row: 1;
      padding: 1em;
      border: 3px double rgb(194, 191, 191);
      text-align: center;
      border-radius: 2px;
    }
  }

  .active {
    background-color: rgba(0, 128, 0, 0.418);
    animation: pulse 0.3s;
    animation-timing-function: ease-in;
  }

  @-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
    }
  }
  @-moz-keyframes pulse {
    0% {
      -moz-transform: scale(1);
    }
    50% {
      -moz-transform: scale(1.1);
    }
    100% {
      -moz-transform: scale(1);
    }
  }
  @-o-keyframes pulse {
    0% {
      -o-transform: scale(1);
    }
    50% {
      -o-transform: scale(1.1);
    }
    100% {
      -o-transform: scale(1);
    }
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  .pulse {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -o-animation-name: pulse;
    animation-name: pulse;
  }
}
