
#time-grid-define,
#time-grid-show {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  max-width: 80vw;
  display: grid;
  justify-content: center;
  column-gap: 4px;
  grid-auto-flow: column;
  grid-template-columns: repeat(
    var(--grid-cols),
    minmax(120px, calc(30% / var(--grid-cols)))
  );
  grid-template-rows: repeat(var(--grid-rows), auto);
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .grid-item {
    &.hour {
      font-size: 16px;
      line-height: 1.7em;
      margin-top: 3px;
      border: 1px solid #ddd;
      text-align: center;
      border-radius: 20px;
    }

    &.header {
      grid-row: 1;
      padding: 1em;
      text-align: center;
      border-radius: 15px;
      margin-bottom: 10px;
      background: rgb(255, 255, 255);
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
      background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(255, 255, 255, 0.1) 100%
      );
    }
  }

  .active {
    background: rgb(0, 250, 154) !important;
    background: radial-gradient(
      circle,
      rgba(0, 250, 154, 1) 0%,
      rgb(0, 235, 156) 100%
    ) !important;
    animation: pulse 0.3s;
    animation-timing-function: ease-in;
  }

  .inactive {
    filter: grayscale(100%);
    opacity: 0.2;
    border: none;
  }

  .disabled {
    display: none;
  }

  .received {
    background: #68bef9;
    background: radial-gradient(
      circle,
      #4ca1da(0, 250, 154, 1) 0%,
      #529cce(0, 235, 156) 100%
    );
  }

}

.time-grid-show-wrapper {
  margin-top: 20px;
  border-radius: 20px;
  margin-right: 1vw;
  padding: 20px;
  background-image: url("https://res.cloudinary.com/dvpavvw1u/image/upload/v1633010870/blurry-gradient-haikei_1_voybj5.png");
}